[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opensea-api = "*"
tabulate = "*"
click = "*"
click-logging = "*"
sqlalchemy = "*"
mypy = "*"

[dev-packages]
mypy = "*"
sqlalchemy2-stubs = "*"
types-tabulate = "*"
types-requests = "*"
types-click = "*"

[requires]
python_version = "3.8"
